[access]
	inheritFrom = Public-Plugins
[project]
	description = Plugin to validate that commit messages conform to length limits.
[access "refs/*"]
	owner = group google/gerritcodereview-maintainers@googlegroups.com
	owner = group plugins-commit-message-length-validator
[access "refs/tags/*"]
	createSignedTag = group gerrit-release-managers
